click==6.7
Django==1.11.23
Flask==1.0.2
Flask-SocketIO==3.0.0
image==1.5.24
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
Pillow==5.1.0
python-engineio==2.1.1
python-socketio==1.9.0
pytz==2018.4
qrcode==6.0
six==1.11.0
Werkzeug==0.14.1
